* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

body {
    .nav {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        
        .navbar {
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            border-bottom: solid 2px #000000;
            background-color: #ffffff;

            a {
                text-decoration: none;
                color: inherit;
                .nav-link {
                    padding: 10px;
                    
                }
            }
            a:hover {
                background-color: black;
                color: white;
            }
        }
        .toggle {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            border-bottom: solid 2px black;
            background-color: #ffffff;

        
            a {
                text-decoration: none;
                color: inherit;
                .nav-link {
                    padding: 10px;
                    
                }
            }
            a:hover {
                background-color: black;
                color: white;
            }
        }

        .hamburger {
            display: none;
        }
    }
    .nav-placeholder {
        position: static;
        height: 70px;
    }
    #home {
        height: auto;
        min-height: 0;
        padding-top: 0;
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            .flex-column-wrapper {
                display: flex;
                border-bottom: solid 2px black;


                .flex-column {
                    justify-content: center;
                    margin: 10px;
                    text-align: left;
                    .home-image {
                        border: double 2px #000000;
                        max-width: 600px;
                        img {
                            vertical-align: middle;
                            display: inline-block;
                            max-width: 100%;
                            height: auto;
                            
                        }
                    }
                    
                    
                }
            }

        }
    }
    #projects {
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;

            h1 {
                text-align: center;
                text-decoration: underline;
                margin: 30px;
            }
            .flex-column-wrapper {
                display: flex;
                flex-wrap: wrap;
                border-bottom: solid 2px black;
                padding-bottom: 50px;


                .flex-column {
                    align-self: center;
                    justify-content: space-between;
                    text-align: left;
                    border: solid 3px #000000;
                    min-width: 220px;
                    height: 300px;
                    margin-left: auto;
                    margin-right: auto;

                    
                    display: flex;
                    flex-direction: column;
                    transition: ease-in-out 0.5s;
                    box-shadow: 2px 18px 34px -8px rgba(0,0,0,0.75);

                    .project-image {
                        background-image: url("/img/pokedex.PNG");
                        background-position: center;
                        background-size: cover;
                        
                        height: 100%;
                        border-bottom: solid 1px #000000;
                        h3 {
                            text-align: center;

                        }

                    }

                    .project-description {
                        text-align: center;
                        border-top: solid 1px #000000;
                        width: 100%;
                        padding: 10px;
                        h3 {
                            margin: 5px;

                        }
                        a {
                            text-decoration: none;
                            color: inherit;

                        }
                        .icon {
                            margin: 5px;
                            font-size: 1.5em;
                        }

                    }
                }
                .flex-column:hover {
                    transition: ease-in-out 0.5s;
                    transform: scale(1.1);
                }
                
                
            
            
            }

        }
    }   
    #tools {
        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;
            .grid-wrapper {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(2, 1fr);
                gap: 10px 10px;
                grid-template-areas: "HTML JS GIT NPM" "CSS JS GIT .";
                border-bottom: solid 2px black;
                padding-bottom: 50px;
                .javascript { 
                    grid-area: "JS";
                    height: 100px;
                    width: 100px;
                    border: solid 1px black;
                }
                
                .html { 
                    grid-area: "HTML"; 
                    height: 100px;
                    width: 100px;
                    border: solid 1px black;
                }
                
                .git { 
                    grid-area: "GIT";
                    height: 100px;
                    width: 100px;
                    border: solid 1px black; 
                }
              
                .css { 
                    grid-area: "CSS";
                    height: 100px;
                    width: 100px;
                    border: solid 1px black;
                }
              
                .npm { 
                    grid-area: "NPM";
                    height: 100px;
                    width: 100px;
                    border: solid 1px black; 
                }
            }
                         
              
        }
    }
}


@media screen and (max-width: 550px) {

    body {
        .nav {
            .hamburger {
                display: block;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                width: 100%;
                height: 42px;
                font-size: 18px;
                color: #ffffff;
                background: #000000;
                transition: all .1s linear;

            }
            .hamburger:hover {
                background: #ffffff;
                color: #000000;
                border-bottom: solid 2px #000000;
            }
            .navbar {
                display: none;
            }
        }
        #home {
            padding-top: 60px;                
        }
    }
    
}
      
@media screen and (max-width: 768px) {    
    body {
        .flex-column-wrapper {
            flex-direction: column;
            align-items: center;
        }
    }

}

@media screen and (max-width: 968px) {    
    #projects {
        .flex-column-wrapper {
            flex-direction: column;
            align-items: center;
            .flex-column {
                margin: 20px;
                width: 60%;


            }

        }
    }

}