* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;

}

body {
    .nav {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        .navbar {
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            border-bottom: solid 2px black;
            a {
                text-decoration: none;
                color: inherit;
                .nav-link {
                    padding: 10px;
                    
                }
            }
            a:hover {
                background-color: black;
                color: white;
            }
        }

        .toggle {
            display: none;
        }
    }
}


@media screen and (max-width: 550px) {

    body {
        .nav {
            .toggle {
                display: block;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                width: 100%;
                height: 42px;
                font-size: 18px;
                color: #ffffff;
                background: #000000;
                transition: all .1s linear;

            }
            .toggle:hover {
                background: #ffffff;
                color: #000000;
                border-bottom: solid 2px #000000;
            }
            .navbar {
                display: none;
            }
        }
    }



}
