* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Quicksand', sans-serif;
}

body .nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  width: 100%;
  background-color: #ffffff;
  border-bottom: solid 2px #000000;
}

body .nav .navbar {
  max-width: 1200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffff;
}

body .nav .navbar a {
  text-decoration: none;
  color: inherit;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body .nav .navbar a .nav-link {
  padding: 10px;
}

body .nav .navbar a:hover {
  background-color: black;
  color: white;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body .nav .toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1200px;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  border-bottom: solid 2px black;
  background-color: #ffffff;
}

body .nav .toggle a {
  text-decoration: none;
  color: inherit;
}

body .nav .toggle a .nav-link {
  padding: 10px;
}

body .nav .toggle a:hover {
  background-color: black;
  color: white;
}

body .nav .hamburger {
  display: none;
}

body .nav-placeholder {
  position: static;
  height: 50px;
  background-color: #000000;
}

body #hero {
  width: 100%;
  height: 800px;
  background-color: black;
  color: white;
  font-family: 'Oswald', sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body #hero .container {
  max-width: 1200px;
  height: auto;
  margin: auto;
  text-align: right;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #hero .container .hero-info {
  font-size: 100px;
}

body #home {
  height: auto;
  min-height: 0;
  padding-top: 0;
}

body #home .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body #home .container .flex-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #home .container .flex-column-wrapper .flex-column {
  margin: 10px;
  text-align: left;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body #home .container .flex-column-wrapper .flex-column .home-image {
  max-width: 600px;
  margin: 30px;
}

body #home .container .flex-column-wrapper .flex-column .home-image img {
  border: solid 0.1px #000000;
  border-radius: 35px;
  -webkit-box-shadow: 2px 18px 34px -15px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 18px 34px -15px rgba(0, 0, 0, 0.75);
  vertical-align: middle;
  display: inline-block;
  max-width: 100%;
  height: auto;
}

body #home .container .flex-column-wrapper .flex-column .home-information {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  padding-left: 50px;
}

body #home .container .flex-column-wrapper .flex-column a {
  text-decoration: none;
  color: inherit;
  padding: 15px;
  border: solid 1px black;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body #home .container .flex-column-wrapper .flex-column a:hover {
  background-color: black;
  color: white;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body #projects {
  background: -webkit-gradient(linear, left top, left bottom, from(white), to(#f0f0f0));
  background: linear-gradient(180deg, white 0%, #f0f0f0 100%);
}

body #projects .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body #projects .container h1 {
  text-align: center;
  text-decoration: underline;
  margin: 30px;
}

body #projects .container .flex-column-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: solid 2px black;
  padding-bottom: 50px;
}

body #projects .container .flex-column-wrapper .flex-column {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: left;
  border: solid 2px #14110F;
  min-width: 220px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: ease-in-out 0.5s;
  transition: ease-in-out 0.5s;
  -webkit-box-shadow: 2px 18px 34px -8px rgba(0, 0, 0, 0.75);
          box-shadow: 2px 18px 34px -8px rgba(0, 0, 0, 0.75);
}

body #projects .container .flex-column-wrapper .flex-column .project-image {
  background-image: url("/img/pokedex.PNG");
  background-position: center;
  background-size: cover;
  height: 100%;
  border-bottom: solid 1px #000000;
}

body #projects .container .flex-column-wrapper .flex-column .project-image h3 {
  text-align: center;
}

body #projects .container .flex-column-wrapper .flex-column .project-description {
  text-align: center;
  border-top: solid 1px #000000;
  width: 100%;
  padding: 10px;
}

body #projects .container .flex-column-wrapper .flex-column .project-description h3 {
  margin: 5px;
}

body #projects .container .flex-column-wrapper .flex-column .project-description a {
  text-decoration: none;
  color: inherit;
}

body #projects .container .flex-column-wrapper .flex-column .project-description .icon {
  margin: 5px;
  font-size: 1.5em;
}

body #projects .container .flex-column-wrapper .flex-column:hover {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body #tools {
  text-align: center;
  background-color: #f0f0f0;
}

body #tools .container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

body #tools .container .grid-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  padding-bottom: 50px;
}

body #tools .container .grid-wrapper .javascript {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  height: 100%;
  width: 100%;
  border: solid 1px black;
  background-color: yellow;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body #tools .container .grid-wrapper .javascript:hover {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  color: yellow;
  background-color: black;
  -webkit-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

body #tools .container .grid-wrapper .html {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
  height: 100%;
  width: 100%;
  border: solid 1px black;
}

body #tools .container .grid-wrapper .git {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 3 / 3;
  height: 100%;
  width: 100%;
  border: solid 1px black;
}

body #tools .container .grid-wrapper .css {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 1 / 3 / 2 / 4;
  height: 100%;
  width: 100%;
  border: solid 1px black;
}

body #tools .container .grid-wrapper .npm {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
  height: 100px;
  width: 100px;
  border: solid 1px black;
}

body #contact {
  height: 200px;
  width: 100%;
  background-color: #000000;
  color: white;
}

body #contact .container {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 550px) {
  body .nav {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0;
    border: 0;
  }
  body .nav .hamburger {
    display: block;
    position: relative;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    width: 100%;
    height: 42px;
    font-size: 18px;
    color: #ffffff;
    background: #000000;
    border: solid 1px white;
    -webkit-transition: all .1s linear;
    transition: all .1s linear;
  }
  body .nav .hamburger:hover {
    background: #ffffff;
    color: #000000;
    border-bottom: solid 2px #000000;
  }
  body .nav .navbar {
    display: none;
    position: fixed;
    top: 0;
  }
}

@media screen and (max-width: 768px) {
  body .flex-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body #home {
    padding-top: 60px;
  }
  body #home .container .flex-column-wrapper .flex-column .home-image img {
    max-height: 400px;
    width: auto;
  }
  body #hero {
    height: 500px;
  }
  body #hero .container .hero-info {
    font-size: 60px;
  }
}

@media screen and (max-width: 968px) {
  #projects .flex-column-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #projects .flex-column-wrapper .flex-column {
    margin: 20px;
    width: 60%;
  }
}
/*# sourceMappingURL=style.css.map */