* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

body {
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
    margin-right: auto;

    .nav {
        position: sticky;
        top: 0;
        z-index: 10;
        width: 100%;
        background-color: #ffffff;
        border-bottom: solid 2px #000000;



        .navbar {
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            background-color: #ffffff;

            a {
                text-decoration: none;
                color: inherit;
                transition: ease-in-out 0.2s;

                .nav-link {
                    padding: 10px;

                }
            }

            a:hover {
                background-color: black;
                color: white;
                transition: ease-in-out 0.2s;
            }
        }

        .toggle {
            display: flex;
            flex-direction: column;
            max-width: 1200px;
            display: flex;
            justify-content: space-around;
            margin-left: auto;
            margin-right: auto;
            border-bottom: solid 2px black;
            background-color: #ffffff;


            a {
                text-decoration: none;
                color: inherit;

                .nav-link {
                    padding: 10px;

                }
            }

            a:hover {
                background-color: black;
                color: white;
            }
        }

        .hamburger {
            display: none;
        }
    }

    .nav-placeholder {
        position: static;
        height: 50px;
        background-color: #000000;

    }

    .loader {
        width: 100%;
        height: 100%;
        background-color: black;
        color: white;
        font-family: 'Oswald', sans-serif;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;

        .container {

            height: auto;
            margin: auto;
            text-align: center;
            justify-content: center;
            align-items: center;


            .hero-info {
                font-size: 2rem;
            }

        }

    }

    .hidden {
        animation: fadeOut 1.5s;
        animation-fill-mode: forwards;
    }

    #hero {
        width: 100%;
        height: 800px;
        background-color: black;
        color: white;
        font-family: 'Oswald', sans-serif;
        align-items: center;
        display: flex;



        .container {
            max-width: 1200px;
            height: auto;
            margin: auto;
            text-align: center;
            justify-content: center;

            .hero-info {
                font-size: 100px;

            }

        }
    }

    #home {
        height: auto;
        min-height: 0;
        padding-top: 0;

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;

            .flex-column-wrapper {
                display: flex;
                align-items: center;
                justify-content: center;

                .flex-column {
                    margin: 10px;
                    text-align: left;
                    justify-content: center;


                    .home-image {

                        max-width: 600px;
                        margin: 30px;

                        img {
                            border: solid 0.1px #000000;
                            border-radius: 35px;
                            box-shadow: 2px 18px 34px -15px rgba(0, 0, 0, 0.75);
                            vertical-align: middle;
                            display: inline-block;
                            max-width: 100%;
                            height: auto;


                        }
                    }

                    .home-information {
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        text-align: left;
                        padding: 0px 50px;


                    }

                    a {
                        text-decoration: none;
                        color: inherit;
                        padding: 15px;
                        border: solid 1px black;
                        transition: ease-in-out 0.2s;
                    }

                    a:hover {
                        background-color: black;
                        color: white;
                        transition: ease-in-out 0.2s;

                    }


                }
            }

        }
    }

    #projects {
        background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(240, 240, 240, 1) 100%);

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;


            h1 {
                text-align: center;
                margin-top: 0px;
                margin-bottom: 30px;
            }

            .flex-column-wrapper {
                display: flex;
                flex-wrap: wrap;
                padding-bottom: 50px;

                a {
                    margin: 0px;
                }


                .flex-column {
                    align-self: center;
                    justify-content: space-between;
                    text-align: left;
                    max-width: 60%;
                    border-radius: 0.60em;
                    border: solid 1px black;
                    display: flex;
                    flex-direction: column;
                    transition: ease-in-out 0.5s;
                    box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);

                    .project-image {
                        height: 100%;

                        img {
                            border-top-left-radius: 0.60em;
                            border-top-right-radius: 0.60em;

                            vertical-align: middle;
                            width: 100%;
                            height: 100%;
                            border-bottom: solid 1px #000000;


                        }

                        h3 {
                            text-align: center;

                        }

                    }

                    .project-description {
                        background-color: white;
                        border-bottom-left-radius: 0.60em;
                        border-bottom-right-radius: 0.60em;
                        text-align: center;
                        width: 100%;
                        padding: 10px;

                        h3 {
                            margin: 5px;

                        }

                        a {
                            text-decoration: none;
                            color: inherit;

                        }

                        .icon {
                            margin: 5px;
                            font-size: 1.5em;
                        }

                    }

                }

                .flex-column:hover {
                    transition: ease-in-out 0.3s;
                    transform: scale(1.02);

                }




            }

        }
    }

    #tools {
        text-align: center;
        background-color: #f0f0f0;

        h1 {
            margin-top: 0px;
            margin-bottom: 10px;
        }

        .container {
            max-width: 1200px;
            margin-left: auto;
            margin-right: auto;

            .tech-list {
                display: flex;
                justify-content: space-evenly;
                padding: 50px 20px;

                .icon {
                    height: 100px;
                    width: 100px;
                    margin: 20px 20px;

                    img {

                        width: 100%;
                        height: 100%;
                        transition: ease-in-out 0.2s;
                    }

                    img:hover {
                        transform: scale(1.1);
                        transition: ease-in-out 0.2s;
                    }

                }


            }



        }
    }

    #contact {
        height: 200px;
        width: 100%;
        background-color: #000000;
        color: white;

        .container {
            height: 200px;
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            align-items: center;

            .contact-flex {
                display: flex;
                flex-direction: row;
                justify-content: center;

                a {
                    text-decoration: none;
                    color: inherit;
                    transition: ease-in-out 0.2s;

                    .nav-link {
                        margin: 20px;

                    }
                }

                a:hover {
                    background-color: white;
                    color: black;
                    transition: ease-in-out 0.2s;
                }

                .icon {
                    height: 50px;
                    width: 50px;
                    margin: 20px 20px;
                    font-size: 50px;
                }
            }
        }
    }

}

@keyframes fadeOut {
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@media screen and (max-width: 550px) {

    body {
        .nav {
            position: sticky;
            bottom: 0;
            border: 0;

            .hamburger {
                display: block;
                position: relative;
                text-align: center;
                line-height: 40px;
                cursor: pointer;
                width: 100%;
                height: 42px;
                font-size: 18px;
                color: #ffffff;
                background: #000000;
                border: solid 1px white;
                transition: all .1s linear;

            }

            .hamburger:hover {
                background: #ffffff;
                color: #000000;
                border-bottom: solid 2px #000000;
            }

            .navbar {
                display: none;
                position: fixed;
                top: 0;
            }
        }

        #tools {
            .tech-list {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-evenly;
                padding: 50px 20px;

                .icon {
                    height: 100px;
                    width: 100px;
                    margin: 50px 20px;
                    flex-wrap: wrap;

                    img {

                        width: 100%;
                        height: 100%;
                        transition: ease-in-out 0.2s;
                    }

                    img:hover {
                        transform: scale(1.1);
                        transition: ease-in-out 0.2s;
                    }

                }
            }
        }

    }
}

@media screen and (max-width: 768px) {
    body {
        .flex-column-wrapper {
            flex-direction: column;
            align-items: center;

        }

        #home {
            padding-top: 60px;

            .container {
                .flex-column-wrapper {
                    .flex-column {
                        .home-image {
                            img {
                                max-height: 400px;
                                width: auto;
                            }
                        }

                        .home-information {
                            text-align: justify;
                            padding: 0px 25px;
                        }
                    }
                }

            }
        }

        #hero {
            height: 500px;

            .container {

                .hero-info {
                    font-size: 60px;
                }

            }
        }
    }
}


@media screen and (max-width: 968px) {
    #projects {
        .flex-column-wrapper {
            flex-direction: column;
            align-items: center;

            .flex-column {
                margin: 20px;
                width: 60%;


            }

        }
    }

}