
.icon-mail:before { content: '\e800'; } /* '' */
.icon-github-circled:before { content: '\e801'; } /* '' */
.icon-globe:before { content: '\e802'; } /* '' */
.icon-facebook-circled:before { content: '\f051'; } /* '' */
.icon-whatsapp:before { content: '\f232'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */